@model CustomerOrder


<section>

    <section class="add-form">
        <h3>Skriv en kundebestilling</h3>
        <form asp-action="WriteCustomerOrders">
            <label>Produkt navn: 
            <select class="input-box" id="product-picker" asp-for="ProductID">
                <option label="Suppe">1</option>
                <option label="Sushi">2</option>
                <option label="Cheddar">3</option>
                <option label="Ørret">4</option>
                <option label="Ost">5</option>
                <option label="Laks">6</option>
                <option label="Chili">7</option>
            </select>
            <br>
            </label>
        <label>Navn: 
                <input class="input-box" asp-for="AuthorName" type="text">
            </label>
            <br>
            <label>Tittel:
                <input class="input-box" asp-for="Title" type="text">
            </label>
            <br>
            <label>Kundebestilling tekst:
               <textarea class="input-box" asp-for="CustomerOrderText" rows="8" cols="40"></textarea>
            </label>
            <input type="submit" value="Send kundebestilling">
        </form>
    </section>