
<section>
    <h1 id="admin-navbar">Admin navbar</h1>
    <nav id="navbar">
                <a asp-controller="AdminProduct" asp-action="AdminPage">Alle produktene</a>       
                <a asp-controller="AdminProduct" asp-action="AllCustomerOrders">Alle kundebestillingene</a>
                <a asp-controller="AdminProduct" asp-action="AddProducts">Legg til produkt</a>
                
        </nav>

    <div id="admin-message">
        <h1>Hei admin! :) </h1>
        <p>Denne siden viser alle produktene som er på nettsiden.</p>
        <p>På menyen kan du velge selv hva du ønsker å gjøre.</p>
    </div>

    <section>
    @{
        foreach (Product product in Model)
        {
            <article class="product-article">
                   
                <h3>@product.ProductName</h3>
                <a class="admin-buttons" asp-controller="AdminProduct" asp-action="EditProducts" asp-route-id="@product.ID">Endre produkt</a>
                <a class="admin-buttons"  asp-controller="AdminProduct" asp-action="DeleteProducts" asp-route-id="@product.ID">Slette produkt</a>

        </article>
        }
    }
</section>
</section>